@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1569211027928'); /* IE9 */
  src: url('iconfont.eot?t=1569211027928#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABlAAAAJNAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApcagE2AiQDCAsGAAQgBYRtBzAbkAXIHpIkFWrRjAioAgAAIYJqrOxZeGCWX68w4IjU67AnF5coLB8J6ICNjjBsxG2sadoRCZv5sqwakUL7mDxwPiU3VLPkdhNuwlS43oTchMMu2GOu5xP3Tv9vAAUyH1COe9Eag7qAujiQAtwL22QFFHLD2AUu4TyBNlNqKkf3Ts5hXmFNC8SNwLNgPudSFBZtEZpq1hbxUNWS7qeAB+H3479OzJPUzMo7fWnXhY1ffXZcvmpcOfAJbgLaXJGxARTifG3opCnBGFPaQtPmwL6yg199jYZvFHvVCfbXWZkdYALy70ngCm81muC2+hoGpkY9nBh29fLL68v3A+7j1SA9Pby6O8Rrz9693fp/eaeWL26aHD82Xh8fPz6ZvRdUVO7kwyFsoIz8NC3m/sWdgzeje/uW9gJ+vnWehNqin4WWHZmDHyLo2VJ0kWVIRRXUdibDJ6pq04YGbOvzNVY9ePZYaDE4wtJsMkXWYoEs9A1U7TbRpMUe2qzb39yun5gSpRVr7gFCj3ckXX4g6/FBFvonqiHfaNITU2hzMfr3bLcUweIRIUvJRXuEgZOl7Jh0Mco+Ja8XW5IVhcxLkjLwYrvRKkb3KSWZY0HZ9zqqjCxZgnvgMorjDHPJQnK04avm3WaT697UcLIEFh0hiEURF7KNoIAjk2K/u1osff4U8fTELNLSVOO9REQpGBy1NbR6kPvytFfTvVxT6vN0KMUQE5kE2gOjSCyWQXn9qBBxqAZ/RCDX1bDLTV95Y31l8nV7oI2lSWEPy5ouWanfCwAAAA==') format('woff2'),
  url('iconfont.woff?t=1569211027928') format('woff'),
  url('iconfont.ttf?t=1569211027928') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1569211027928#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfanhui:before {
  content: "\e612";
}

